button.btn {
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

button.rounded {
	border-radius: 50px !important;
}

button.primary {
	background-color: $primary;
	color: $secondary;
	font-weight: normal;
	font-family: base-font;
}

button.secodary {
	background-color: $primary;
	color: $white;
	font-weight: normal;
	font-family: bold-font;
}

button.no-outline {
	background-color: transparent;
	color: $brand-text-color;
}

button.lg {
	padding: 1.5rem 2.5rem;
	font-size: 1.4rem;
}

button.md {
	padding: .7rem 2.5rem;
	font-size: .9rem;
}

button.sm {
	padding: .5rem 1.5rem;
	font-size: .8rem;
}