button.btn {
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-sizing: border-box;
}

button.rounded {
	border-radius: 50px !important;
}

button.primary {
	background-color: $primary;
	color: $secondary;
	font-weight: normal;
	font-family: base-font;
	transition: opacity .5s;

	&:hover {
		opacity: 0.5;
	}
}

button.primary-outline {
	background-color: transparent;
	outline: 1px solid $primary;
	color: $secondary;
	font-weight: normal;
	font-family: base-font;
	transition: background-color .5s, color .5s;

	&:hover {
		background-color: $primary;
		color: $secondary;
	}
}

button.secondary {
	background-color: $secondary;
	color: $white;
	font-weight: normal;
	font-family: base-font;
	transition: opacity .5s;

	&:hover {
		opacity: 0.5;
	}
}

button.secondary-outline {
	background-color: transparent;
	outline: 1px solid $secondary;
	color: $primary;
	font-weight: normal;
	font-family: base-font;
	transition: background-color .5s, color .5s;

	&:hover {
		background-color: $secondary;
		color: $white;
	}
}

button.no-outline {
	background-color: transparent;
	color: $secondary;

	&:hover {
		font-weight: bold;
	}
}

button.lg {
	height: 3rem;
	width: 8rem;
	font-size: 1rem;
}

button.md {
	height: 2.5rem;
	width: 8rem;
	font-size: .9rem;
}

button.sm {
	height: 2.3rem;
	width: 6rem;
	font-size: .8rem;
}